@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');

body{
    background-image: url(./imagensicons/faviconcoala-32x32.png);
    background-repeat: repeat;
    margin: none !important;
}
.title{
    font-family: Sigmar One;
    font-size: small;
}
header{
    background-color: #7bcdf3;
}
.navbar{
    padding-top: 0px !important;
}
/*Dropdown Dino*/
.dropdown-dino {
    position: relative;
    display: inline-block;
}
.dropdown-content-dino {
    display: none;
    position: absolute;
    background-color: #adfddf;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 15%;
}
.dropdown-dino:hover .dropdown-content-dino {
    display: block;
}
.desc-dino {
    padding: 15px;
    text-align: center;
    font-family:'Viaoda Libre', cursive;
    font-weight: bolder;
}
.desc-dino a{
    color:rgb(241, 211, 194) ;
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
}
.desc-dino a:hover{
    transition-delay: 10s;
    font-size: 19px;
    color: #ffffff;
}
/*FIM Dropdown Dino*/
/*Dropdown My Profile*/
.dropbtn-profile {
    background-color: #7bcdf3;
    color: rgb(241, 211, 194);
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: 'Fredoka One', cursive;
}
.dropdown-profile {
    position: relative;
    display: inline-block;
} 
.dropdown-content-profile {
    display: none;
    position: absolute;
    right: 0;
    background-color: #adfddf;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 15%;
}
.dropdown-content-profile .linkprofile {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-align: center;
    display: block;
    border-radius: 100%;
    font-family: 'Fredoka One', cursive;
}
.dropdown-content-profile .linkprofile:hover {background-color: #ffffff;}
.dropdown-profile:hover .dropdown-content-profile {display: block;}
.dropdown-profile:hover .dropbtn-profile {
    background-color: #7bcdf3;
}
/*FIM Dropdown My Profile*/
/*Avisos e textos*/
.container{
    background-color: #a0ddf9;
}
.primeiro{
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
    font-family: 'Viaoda Libre', cursive;
    font-weight: bolder;
    font-size: 30px;
}
.avisomusic{
    font-size: small;
    font-family: 'Viaoda Libre', cursive;
    font-weight: bolder;
    text-align: center;
}
.segundo{
    font-family: 'Viaoda Libre', cursive;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
}
/*FIM Avisos e textos*/
/*Footer*/
footer{
    background-color: #7bcdf3;
    text-align: center;
    margin: none !important;
}
.iconfooter{
    margin-right: 28px;
    height: 100px;
    width: 100px;
}
.avisofooter{
    text-align:center;
    vertical-align: auto;
    font-size: 40px;
    padding-top: 20px;
    font-family: 'Fredoka One', cursive;
}
/*FIM Footer*/
/*Barra de Navegação*/
.nav-link{
    font-size: 20px;
    padding: 0 15px;
    font-family: 'Fredoka One', cursive;
    color: rgb(241, 211, 194);
}
.nav-link:hover{
    color: #ffffff;
    font-size: 27px;
}
.icones{
    color: initial !important;
}
/*FIM Barra de Navegação*/
/*Banner Index*/
.d-block-index{
    width: 1200px;
    height: 492px;
    max-width: 100%;
    max-height: 100%;
}
/*FIM Banner Index*/
/*My Profile*/
.itens-curiosos{
    font-size: medium;
    font-family: 'Mate SC', serif;
    font-weight: bolder;
    margin-top: 9px;
}
.agradecimento{
    font-family: 'Stint Ultra Condensed', cursive;
    font-size: 20px;
    font-style: oblique;
    text-align: center;
    margin: 5px;
}
.mylinkprofile{
    font-size: 20px;
    padding: 0 15px;
    font-family: 'Fredoka One', cursive;
    color: rgb(241, 211, 194);
    text-decoration: none !important;
}
.mylinkprofile:hover{
    color: #ffffff;
    font-size: 21px;
}
/*Banner My Profile*/
.d-block-profile{
    width: 1200px;
    height: 750px;
    max-width: 100%;
    max-height: 100%;
}
/*Banner My Profile*/
/*FIM My Profile*/

/*Baner Musica*/
.d-block-musica{
    width: 1200px;
    height: 492px;
    max-width: 100%;
    max-height: 100%;
}
/*FIM Baner Musica*/
/*Baner Filme*/
.d-block-filme{
    width: 1200px;
    height: 492px;
    max-width: 100%;
    max-height: 100%;
}
/*FIM Baner Filme*/
/*Baner serie*/
.d-block-serie{
    width: 1200px;
    height: 492px;
    max-width: 100%;
    max-height: 100%;
}
/*FIM Baner serie*/
/*Baner Viagem*/
.d-block-viagem{
    width: 1200px;
    height: 492px;
    max-width: 100%;
    max-height: 100%;
}
/*FIM Baner Viagem*/
/*Descrição Baners*/
.minititle{
    font-family: 'Fredoka One', cursive;
    color: rgb(255, 255, 255);
    text-shadow: 5px 3px rgb(1, 75, 34);
    font-size: 37px;
    letter-spacing: 2px;
}
.description{
    font-family: 'Mate SC', cursive;
    color: rgb(255, 255, 255);
    text-shadow: 4px 2px rgb(1, 75, 34);
    font-size: 27px;
    letter-spacing: 2px;
    font-weight: bolder;
}
.carousel-caption{
    background-color: rgba(96, 96, 96);
    border-radius: 15%;
}
/*Descrição Baners*/
/*Musicas*/
.musiccontent{
    margin: auto;
    margin-top: 15px;
    font-size: x-large;
    font-family: 'Mate SC', serif;
    font-weight: bolder;
    text-align: center;
}
/*Cards Musicas*/
.body-musics{
    background-color: #8d8686;
}
.lista-cards-musicas{
    text-align: left;
}
.list-group-item{
    background-color: #8d8686;
}
/*FimCards Musicas*/
/*FIM Musicas*/
.card{
    background-color: transparent;
    border: none;
}
/*Cards Filmes*/
.card-img-top{
    width: 288px;
    height: 160.88px;
}
.body-movies{
    background-color: #ffcbcb !important;
    margin-bottom: 3px;
}
.description-leiamaisfilme{
    display: none;
    font-family: 'Viaoda Libre', cursive;
    font-weight: bolder;
    font-style: oblique;
    color: #000000;
}
.btn-readmorefilme{
    font-family:  'Fredoka One', cursive;
    font-size: 11px;
    text-transform: uppercase;
    border: none;
    border-radius: 15%;
    padding: 7px;
    cursor: pointer;
}
.btn-readmorefilme-style{
    background-color: #7bcdf3;
    box-shadow: 0 5px 0 #79afc9;
}
.btn-readmorefilme-style:hover{
    background-color: #689eb8;
    box-shadow: 0 5px 0 #5591ad;
}
/*ativação dos botões js*/
#btnleiamais0filme:active{
    position:relative;
    top: 5px;
    box-shadow: none;
}
#btnleiamais1filme:active{
    position:relative;
    top: 5px;
    box-shadow: none;
}
#btnleiamais2filme:active{
    position:relative;
    top: 5px;
    box-shadow: none;
}
#btnleiamais3filme:active{
    position:relative;
    top: 5px;
    box-shadow: none;
}
#btnleiamais5filme:active{
    position:relative;
    top: 5px;
    box-shadow: none;
}
#btnleiamais5filme:active{
    position:relative;
    top: 5px;
    box-shadow: none;
}
#btnleiamais6filme:active{
    position:relative;
    top: 5px;
    box-shadow: none;
}
#btnleiamais7filme:active{
    position:relative;
    top: 5px;
    box-shadow: none;
}
#btnleiamais8filme:active{
    position:relative;
    top: 5px;
    box-shadow: none;
}
#btnleiamais9filme:active{
    position:relative;
    top: 5px;
    box-shadow: none;
}
/*FIM Cards Filmes*/
/*Cards Viagens*/
.card-img-top{
    width: 288px;
    height: 160.88px;
    background-color: #adfddf;
}
.body-viagens{
    background-color: #adfddf;
    margin-bottom: 3px;
}
.description-leiamaisviagem{
    display: none;
    font-family: 'Viaoda Libre', cursive;
    font-weight: bolder;
    font-style: oblique;
    color: #000000;
}
.btn-readmoreviagem{
    font-family:  'Fredoka One', cursive;
    font-size: 11px;
    text-transform: uppercase;
    border: none;
    border-radius: 15%;
    padding: 7px;
    cursor: pointer;
}
.btn-readmoreviagem-style{
    background-color: #7bcdf3;
    box-shadow: 0 5px 0 #79afc9;
}
.btn-readmoreviagem-style:hover{
    background-color: #689eb8;
    box-shadow: 0 5px 0 #5591ad;
}
/*ativação dos botões js*/
#btnleiamais0viagem:active{
    position:relative;
    top: 5px;
    box-shadow: none;
}
#btnleiamais1viagem:active{
    position:relative;
    top: 5px;
    box-shadow: none;
}
#btnleiamais2viagem:active{
    position:relative;
    top: 5px;
    box-shadow: none;
}
#btnleiamais3viagem:active{
    position:relative;
    top: 5px;
    box-shadow: none;
}
#btnleiamais4viagem:active{
    position:relative;
    top: 5px;
    box-shadow: none;
}
#btnleiamais5viagem:active{
    position:relative;
    top: 5px;
    box-shadow: none;
}
#btnleiamais6viagem:active{
    position:relative;
    top: 5px;
    box-shadow: none;
}
#btnleiamais7viagem:active{
    position:relative;
    top: 5px;
    box-shadow: none;
}
#btnleiamais8viagem:active{
    position:relative;
    top: 5px;
    box-shadow: none;
}
#btnleiamais9viagem:active{
    position:relative;
    top: 5px;
    box-shadow: none;
}
/*FIM Cards Viagens*/
/*Cards Series*/
.card-img-top{
    width: 288px;
    height: 160.88px;
}
.little-title{
    font-family: 'Mate SC', serif;
    font-weight: bolder;
    color: #500909;
}
.little-description{
    font-family: 'Viaoda Libre', cursive;
    font-weight: bolder;
    font-style: oblique;
    color: #000000;
}
.body-series{
    background-color: #cc9696 !important;
    margin-bottom: 3px;
}
.description-leiamaisseries{
    display: none;
    font-family: 'Viaoda Libre', cursive;
    font-weight: bolder;
    font-style: oblique;
    color: #000000;
}
.btn-readmoreseries{
    font-family:  'Fredoka One', cursive;
    font-size: 11px;
    text-transform: uppercase;
    border: none;
    border-radius: 15%;
    padding: 7px;
    cursor: pointer;
}
.btn-readmoreseries-style{
    background-color: #7bcdf3;
    box-shadow: 0 5px 0 #79afc9;
}
.btn-readmoreseries-style:hover{
    background-color: #689eb8;
    box-shadow: 0 5px 0 #5591ad;
}
/*ativação dos botões js*/
#btnleiamais0series:active{
    position:relative;
    top: 5px;
    box-shadow: none;
}
#btnleiamais1series:active{
    position:relative;
    top: 5px;
    box-shadow: none;
}
#btnleiamais2series:active{
    position:relative;
    top: 5px;
    box-shadow: none;
}
#btnleiamais3series:active{
    position:relative;
    top: 5px;
    box-shadow: none;
}
#btnleiamais4series:active{
    position:relative;
    top: 5px;
    box-shadow: none;
}
#btnleiamais5series:active{
    position:relative;
    top: 5px;
    box-shadow: none;
}
#btnleiamais6series:active{
    position:relative;
    top: 5px;
    box-shadow: none;
}
#btnleiamais7series:active{
    position:relative;
    top: 5px;
    box-shadow: none;
}
#btnleiamais8series:active{
    position:relative;
    top: 5px;
    box-shadow: none;
}
#btnleiamais9series:active{
    position:relative;
    top: 5px;
    box-shadow: none;
}
/*FIM Cards Series*/